body{
    margin:0; 

}

.left_side{
    width:285px;
    height: 100vh;
    

}

.right_side{

    width:1155px;
    padding: 0 40px;
}

.container{
    display:flex;
    padding: 60px;
    
}

.heading{
    height: 70px;
    width: 100%;
    justify-content: space-between;

}

.heading_title{
    background: red;
    font-family: 'Poppins';
    font-style: normal;


}

.heading_header{

    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    
}

.heading_subtitle{
    
    padding: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7C8DB5;
   
}

heading_account{
    background: green;
    height: 100%;

}

.cards{
    font-family: 'Poppins';
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 38px;
    position: absolute;
    width: 1060px;
    height: 142px;
    left: 325px;
    top: 162px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 198px;
    height: 99px;

    
    }

.card_top_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 61px;
    width: 198px;
    height: 66px;


}

.number{
    width: 95px;
    height: 42px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #000000;
    
}

.icon{
    width: 87px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.card_bottom_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    width: 198px;
    height: 21px;
}

.number_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 53px;
    height: 21px;
}

.charts{

}

