body{
    margin:0; 

}

.left_side{
    width:285px;
    height: 100vh;
    

}

.right_side{

    width:1155px;
    padding: 0 40px;
    background: grey;
}

.container{
    display:flex;
    padding: 60px;
    
}

.heading{
    height: 70px;
    width: 100%;
    justify-content: space-between;

}

.heading_title{
    background: red;
    font-family: 'Poppins';
    font-style: normal;


}

.heading_header{

    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    
}

.heading_subtitle{
    
    padding: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7C8DB5;
   
}

heading_account{
    background: green;
    height: 100%;

}

.cards{
    font-family: 'Poppins';
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 38px;
    width: 1060px;
    height: 142px;
    left: 325px;
    top: 162px;
    /* White */

    background: #FFFFFF;
    /* Border */

    border: 1px solid #E6EDFF;
    border-radius: 12px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 198px;
    height: 99px;
    background: #FF3B30;

    
    }

.card_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 61px;
    width: 198px;
    height: 66px;
    background: #7C8DB5;


}

.card_top_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 95px;
    height: 66px;
    background: #34C759;
}

.card_top_text_number{
    width: 95px;
    height: 42px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #000000;
    
}

.card_top_text_kpi{
    width: 87px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;

}

.card_top_text_kpi_2{
    width: 116px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;

}

.text_bottom_2{
    width: 142px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7C8DB5;
}

.text_bottom{
    width: 133px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7C8DB5;
}

.icon{
    width: 87px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.divider{
    width: 102px;
    height: 0px;

    /* Border */

    border: 1px solid #E6EDFF;
    transform: rotate(90deg);

}

.card_bottom_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    width: 198px;
    height: 21px;
}



.number_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 53px;
    height: 21px;
}



.charts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    background: greenyellow;
    width: 1060px;
    height: 344px;
    left: 325px;
    top: 336px;   

}

.line_chart{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 24px;
    
    width: 772px;
    height: 344px;
    
    /* White */
    
    background: #FFFFFF;
    /* Border */
    
    border: 1px solid #E6EDFF;
    border-radius: 12px;
}

.line_chart_title_text{
    width: 200px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;

}

.legend{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    width: 97px;
    height: 18px;


}

.dot_1{
    width: 8px;
    height: 8px;
    background: #347AE2;
}

.dot_2{
    width: 8px;
    height: 8px;
    background: #FF9500;
}

.dot_3{
    width: 8px;
    height: 8px;
    background: #34C759;
}

.legend_text{
    width: 81px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}

.circle_chart_legend_text{
    width: 35px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}

.filter_text{
    width: 48px;
    height: 18px;
    
    /* Caption/Regular */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    
    
    /* Primary */
    
    color: #000000;

}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px 4px 12px;
    gap: 4px;
    width: 88px;
    height: 26px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    border-radius: 8px;

}

.line_chart_icon{
    width: 16px;
    height: 16px;
    
}

.line_chart_chevron{
    
    left: 25.63%;
    right: 25.62%;
    top: 38.12%;
    bottom: 33.96%;
}


.line_chart_title_right_side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 321px;
    height: 26px;
}

.line_chart_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 300px;
    background: yellowgreen;
    width: 732px;
    height: 30px;
}

.circle_chart{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    
    width: 256px;
    height: 344px;
    
    /* White */
    
    background: #FFFFFF;
    /* Border */
    
    border: 1px solid #E6EDFF;
    border-radius: 12px;
}


.circle_chart_area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 216px;
    height: 304px;
    background: yellowgreen;

}

.circle_chart_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 88px;
    width: 216px;
    height: 30px;
    background: #FF9500;
}

.circle_chart_title_text{
    width: 88px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
   
}

.circle_chart_legend{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 201px;
    height: 18px;
  
}

.circle_legend{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 55px;
    height: 18px;

}

.circle_legend_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 51px;
    height: 18px;
    background: #347AE2;
}

.circle_chart_table{
    width: 216px;
    height: 216px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 87px;
    height: 30px;
    left: 51px;
    top: 60px;

}

.logo_text{
    width: 53px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.top_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    position: absolute;
    width: 193px;
    height: 232px;
    left: 56px;
    top: 162px;

}

.nav_list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 69px;

    width: 193px;
    height: 24px;

}

.icon_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    align-items: center;
    width: 100%;
    height: 24px;
    ;


}

.nav_icon{
    width: 24px;
    height: 24px;
}

.nav_drop_down{
    margin-left: auto;
}

.nav_text{
    width: 75px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #347AE2;
}

.drop_down{
    width: 24px;
    height: 24px;
}

.drop_down_icon{

    left: 25.62%;
    right: 25.63%;
    top: 38.12%;
    bottom: 33.96%;
}

.bottom_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;

    position: absolute;
    width: 193px;
    height: 128px;
    left: 56px;
    top: 700px;


}

.bottom_icon_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 131px;
    height: 24px;


}

.bottom_nav_text{
    width: 95px;
    height: 24px;

    /* Headline */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Secondary */

    color: #7C8DB5;
}


.bottom_nav_text_red{
    width: 59px;
    height: 24px;

    /* Headline */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Red */

    color: #FF3B30;
}

.order_list{

    background: yellow;

    

    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 12px;
    position: absolute;
    width: 1059px;
    height: 298px;
    left: 325px;
    top: 712px;
}

.order_list_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 827px;

    width: 1011px;
    height: 30px;
    background: purple;}

.order_list_title_header{
    width: 300px;
    height: 30px;

    /* Title 1 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;

}

.order_list_title_filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px 4px 12px;
    gap: 4px;
    
    width: 88px;
    height: 26px;
    
    /* White */
    
    background: #FFFFFF;
    /* Shadow */
    
    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    border-radius: 8px;

}

.order_list_title_filter_text{
    width: 48px;
    height: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
}

.order_list_title_filter_chevron{
    width: 16px;
    height: 16px;

}

.order_list_table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1019px;
    height: 216px;
    background: #34C759;
    margin-top: 12px;
}

.table_row{
    box-sizing: border-box;
    display: flex;

    width: 1019px;
    height: 54px;

    /* White */

    background: #FFFFFF;
    /* Border */

    border-bottom: 1px solid #E6EDFF;
}

.table_col_name2{
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 73px;
    margin-top: 18px;
    width: 12px;
    height: 16px;
    left: 326px;
    top: 18px;
    background: #FF3B30;

}

.table_col_name3{
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 102px;
    margin-top: 18px;
    width: 29px;
    height: 18px;
    left: 326px;
    top: 18px;
    background: #FF3B30;

}

.table_col_name4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 110px;
    margin-top: 18px;
    width: 100px;
    height: 18px;

    top: 18px;
    background: #FF3B30;

}

.table_col_name5{
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 76px;
    margin-top: 18px;
    width: 100px;
    height: 18px;
    left: 326px;
    top: 18px;
    background: #FF3B30;

}

.table_col_name6{
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 134px;
    margin-top: 18px;
    width: 49px;
    height: 18px;

    top: 18px;
    background: #FF3B30;

}

.table_text{
    width: 12px;
    height: 18px;

    /* Caption/Medium */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
}

.table_col_name7{
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 76px;
    margin-top: 18px;
    width: 76px;
    height: 18px;
    left: 326px;
    top: 18px;
    background: #FF3B30;

}

.table_col_name8{
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 91px;
    margin-top: 18px;
    width: 39px;
    height: 18px;
    left: 326px;
    top: 18px;
    background: #FF3B30;

}

.table_col_name1{
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    margin-left: 12px;
    margin-top: 18px;
    width: 17px;
    height: 18px;
    left: 326px;
    top: 18px;
    background: #FF3B30;

}

.table_value1{

    width: 4px;
    height: 18px;
    margin-left: 12px;
    margin-top: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
    background:red;
}

.table_value2{

    width: 44px;
    height: 18px;
    margin-left: 57px;
    margin-top: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
    background:red;
}

.table_value3{

    width: 62px;
    height: 18px;
    margin-left: 70px;
    margin-top: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
    background:red;
}

.table_value4{

    width: 69px;
    height: 18px;
    margin-left: 77px;
    margin-top: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
    background:red;
}

.table_value5{

    width: 111px;
    height: 18px;
    margin-left: 94px;
    margin-top: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
    background:red;
}

.table_value6{

    width: 47px;
    height: 18px;
    margin-left: 75px;
    margin-top: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
    background:red;
}

.new_order{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    gap: 8px;

    width: 103px;
    height: 26px;
    margin-left: 78px;
    margin-top: 16px;

    /* White */

    background:green;
    /* Shadow */

    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    border-radius: 8px;
}

.new_order_text{
    width: 63px;
    height: 18px;

    /* Caption/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
}

.table_value7{

    margin-left: 88px;
    margin-top: 25px;
 
}