body{
    margin:0; 

}

.left_side{
    width:285px;
    height: 100vh;
    border-right: 1px solid #E6EDFF ;

}

.right_side{

    width:1155px;
    padding: 0 40px;

}

.container{
    display:flex;
    padding: 60px;
    font-family: 'Poppins';

    
}

.heading{
    height: 70px;
    width: 1060px;
    justify-content: space-between;
    display: flex;

}

.heading_title{
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
}

.heading_header{

    font-weight: 1000;
    font-size: 28px;
    line-height: 150%;
    /* LargeTitle */
    font-family: 'Poppins';
    font-style: normal;
    color: #000000;

    
}

.heading_subtitle{
    
    padding: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7C8DB5;
   
}

.heading_account{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;  

}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;

}

.avatar_name{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;  
}

.avatar_name_name{
    width: 113px;
    height: 24px;

    /* Body */

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #000000;
}

.heading_icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.cards{

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 38px;
    width: 1060px;
    height: 142px;
    margin-top: 32px;
    /* White */

    background: #FFFFFF;
    /* Border */

    border: 1px solid #E6EDFF;
    border-radius: 12px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    border-right: 1px solid #E6EDFF;
    }
    
.card1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    gap: 30px;
    }



.card_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 61px;
    width: 198px;
    height: 66px;
}

.card_top_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95px;
}

.card_top_text_number{
    width: 95px;
    height: 42px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #000000;
    
}

.card_top_text_kpi{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.card_top_text_kpi_2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    white-space: nowrap
}

.text_bottom_2{

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7C8DB5;
}

.text_bottom{

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7C8DB5;
}

.card_bottom_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
}



.number_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

}



.charts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 1060px;
    height: 344px;
    margin-top:32px   

}

.line_chart{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 24px;
    
    width: 772px;
    height: 344px;
    
    /* White */
    
    background: #FFFFFF;
    /* Border */
    
    border: 1px solid #E6EDFF;
    border-radius: 12px;
}

.line_chart_title_text{

    height: 30px;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    white-space: nowrap
}

.legend{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;   
    width: 97px;
    height: 18px;


}

.dot_1{
    width: 8px;
    height: 8px;
    background: #347AE2;
}

.dot_2{
    width: 8px;
    height: 8px;
    background: #FF9500;
}

.dot_3{
    width: 8px;
    height: 8px;
    background: #34C759;
}

.legend_text{
    width: 81px;
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}

.circle_chart_legend_text{
    width: 35px;
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}

.filter_text{
    width: 48px;
    height: 18px;
    
    /* Caption/Regular */

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    
    
    /* Primary */
    
    color: #000000;

}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px 4px 12px;
    gap: 4px;
    width: 88px;
    height: 26px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    border-radius: 8px;

}

.line_chart_icon{
    width: 16px;
    height: 16px;
    
}

.line_chart_chevron{
    
    left: 25.63%;
    right: 25.62%;
    top: 38.12%;
    bottom: 33.96%;
}


.line_chart_title_right_side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;



}

.line_chart_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 30px;
}

.circle_chart{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    
    width: 256px;
    height: 344px;
    
    /* White */
    
    background: #FFFFFF;
    /* Border */
    
    border: 1px solid #E6EDFF;
    border-radius: 12px;
}


.circle_chart_area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 216px;
    height: 304px;

}

.circle_chart_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 88px;
    width: 216px;
    height: 30px;

}

.circle_chart_title_text{
    width: 88px;
    height: 30px;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
   
}

.circle_chart_legend{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.circle_legend{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

}

.circle_legend_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

}

.circle_chart_table{
    width: 216px;
    height: 216px;

}


.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    left: 51px;
    top: 60px;

}


.top_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    position: absolute;
    left: 56px;
    top: 162px;

}

.nav_list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 69px;
    width: 193px;
    height: 24px;

}

.icon_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    align-items: center;
    width: 100%;
    height: 24px;
    ;


}

.nav_icon{
    width: 24px;
    height: 24px;
}

.nav_drop_down{
    margin-left: auto;
}

.nav_text{
    width: 75px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #347AE2;
}

.nav_text2{
    width: 75px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7C8DB5;
}

.drop_down{
    width: 24px;
    height: 24px;
}

.drop_down_icon{

    left: 25.62%;
    right: 25.63%;
    top: 38.12%;
    bottom: 33.96%;
}

.bottom_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;

    position: absolute;
    width: 193px;
    height: 128px;
    left: 56px;
    top: 700px;


}

.bottom_icon_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 131px;
    height: 24px;


}

.bottom_nav_text{
    width: 95px;
    height: 24px;

    /* Headline */

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Secondary */

    color: #7C8DB5;
}


.bottom_nav_text_red{
    width: 59px;
    height: 24px;

    /* Headline */

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Red */

    color: #FF3B30;
}

.order_list{

    flex-direction: row;
    align-items: flex-start;
    padding: 20px;

    width: 1022px;
    height: 298px;

    margin-top: 32px;


    background: #FFFFFF;
/* Border */

    border: 1px solid #E6EDFF;
    border-radius: 10px;
}

.order_list_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 827px;
    margin-bottom:32px;
}

.order_list_title_header{
    width: 300px;
    height: 30px;

    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 150%;
    color: #000000;

}

.order_list_title_filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px 4px 12px;
    gap: 4px;
    
    width: 88px;
    height: 26px;
    
    /* White */
    
    background: #FFFFFF;
    /* Shadow */
    
    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    border-radius: 8px;

}

.order_list_title_filter_text{
    width: 48px;
    height: 18px;

    /* Caption/Regular */

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Primary */

    color: #000000;
}

.order_list_title_filter_chevron{
    width: 16px;
    height: 16px;

}

.order_list_table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1019px;
    height: 216px;
    background: #34C759;
    margin-top: 12px;
}

.table_row{
    box-sizing: border-box;
    display: flex;

    width: 1019px;
    height: 54px;

    /* White */

    background: #FFFFFF;
    /* Border */

    border-bottom: 1px solid #E6EDFF;
}


.order_table td{
    align: center;
    padding: 18px;
    
     
}
,
th{
    align:center;
    padding: 18px;
},
table{
    border-collapse: collapse;
}