<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/index.css">
</head>
<body>
    <div class="container">
        <div class="left_side"> 
            <div class="logo"><img src="/static/assets/Logo.png" alt=""></div> 
            <div class="top_menu">

                {% for item in left_menu %}
                    <div class="icon_text">
                        <div class="nav_icon"><img src="{{ item['icon'] }}" alt=""></div>
                        <div class="nav_text">{{ item['name'] }}</div>
                    
                        {% if item['expand'] %}
                            <img class="nav_drop_down" src="/static/assets/shape (12).png" alt="">
                        {% endif %}

                        {% if item['number'] %}
                            <div class="nav_drop_down">{{ item['number'] }}</div>
                        {% endif %}
                    </div>                     
                {% endfor %}                                     
             
            </div>
            
            <div class="bottom_menu">
                {% for item in left_bottom_menu %}
                <div class="nav_list">
                    <div class="bottom_icon_text">
                        <div class="nav_icon"><img src="{{ item['icon'] }}" alt=""></div>
                        <div class="bottom_nav_text">{{ item['name'] }}</div>
                    </div>   
                </div>
                {% endfor %}

            </div>
           
        </div>
        <div class="right_side">
            <div class="heading">
                <div class="heading_title">
                    <div class="heading_header">Welcome Back, {{ name }}!</div>
                    <div class="heading_subtitle">Here is the information about all your orders</div>
                </div>
                <div class="heading_account">
                    <div class="heading_icons">
                        <div class="heading_account_icon"><img src="/static/assets/search.png" alt=""></div>
                        <div class="heading_account_icon"><img src="/static/assets/bell.png" alt=""></div>
                    </div>
                    <div class="profile">
                        <div class="avatar"><img src="{{ avatar }}" alt=""></div>
                        <div class="avatar_name">
                            <div class="avatar_name_name">{{name}} {{surname}}</div>
                            <div class="heading_account_icon"><img src="/static/assets/shape (12).png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                {% for item in cards %}
                <div class="card">
                    <div class="card_top">
                        <div class="card_top_text">
                            <div class="card_top_text_number">{{ item['total_number'] }}</div>
                            <div class="card_top_text_kpi">{{ item['kpi'] }}</div>
                        </div>
                        <div class="icon"><img src="{{ item['icon'] }}" alt=""></div>
                    </div>

                    <div class="card_bottom_text">
                        <div class="number_bottom"><img src="{{ item['bottom_icon'] }}" alt=""> {{ item['bottom_number'] }}</div>
                        <div class="text_bottom"> {{ item['bottom_text'] }}</div>
                    </div>

                </div>
                {% endfor %}

            </div>
            <div class="charts">
                <div class="line_chart">
                    <div class="line_chart_title">
                        <div class="line_chart_title_text">Orders analytics</div>
                        <div class="line_chart_title_right_side">
                            {% for item in line_chart_legend %}
                                <div class="legend">
                                    <div class="{{ item['dot'] }}"></div>
                                    <div class="legend_text">{{ item['name'] }}</div>
                                </div>
                            {% endfor %}

                            <div class="filter">
                                <div class="filter_text">Monthly</div>
                                <div class="line_chart_icon">
                                    <div class="line_chart_chevron"><img src="/static/assets/shape (12).png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>                      
                    <div class="line_chart_table"><img src="/static/assets/Table.png" alt=""></div>                                           
                </div>
               
                <div class="circle_chart">
                    <div class="circle_chart_area">

                        <div class="circle_chart_title ">
                            <div class="circle_chart_title_text">Earnings</div>
                        </div>
                        <div class="circle_chart_table"><img src="/static/assets/Circle-Chart.png" alt=""></div>
                        <div class="circle_chart_legend">
                            {% for item in circle_chart_legend %}
                                <div class="circle_legend">
                                    <div class="{{ item['dot'] }}"></div>
                                    <div class="circle_chart_legend_text">{{item['name']}}</div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>   
                </div>
            </div>

            <div class="order_list">
                <div class="order_list_title">
                    <div class="order_list_title_header">Order List</div>
                    <div class="order_list_title_filter">
                        <div class="order_list_title_filter_text">Monthly</div>
                        <div class="order_list_title_filter_chevron"><img src="/static/assets/shape (13).png" alt=""></div>
                    </div>
                </div>
                
                <table class="order_table" width="100%">
                    <colgroup span="8"></colgroup>

                    <tr>
                        <th>No</th>
                        <th>ID <img src="/static/assets/shape (15).png" alt=""></th>
                        <th>Date</th>
                        <th>Customer Name <img src="/static/assets/shape (15).png" alt=""></th>
                        <th>Location</th>
                        <th>Amount <img src="/static/assets/shape (15).png" alt=""></th>
                        <th>Status Order <img src="/static/assets/shape (15).png" alt=""></th>
                        <th>Action</th>
                    </tr>

                    {% for item in table %}
                        <tr>
                            <td>{{ item['c1'] }}</td>
                            <td>{{ item['c2'] }}</td>
                            <td>{{ item['c3'] }}</td>
                            <td>{{ item['c4'] }}</td>
                            <td>{{ item['c5'] }}</td>
                            <td>{{ item['c6'] }}/td>
                            <td>{{ item['c7'] }}</td>
                            <td>{{ item['c8'] }}<img src="/static/assets/shape (14).png" alt=""></td>
                        </tr>
                    {% endfor %}

                  </table>
            </div>
        </div>
    </div>
</body>
</html>
